// home/home.jade
ion-view(view-title="{{vm.title}}")
  // hide ion-navicon???
  ion-content.has-header.light-bg {{item=vm.event;""}}

    //- 
    //- Hero 
    //- 
    div.hero.has-mask(ng-style="vm.imgAsBg(item.heroPic)")
      div#hero-title.content.row.responsive-sm
        div.col.col-offset-25.col-50
          button.button.button-clear.flat.pull-right.text-white.waves-effect.waves-button.waves-light.icon.ion-heart
          div.text-left
            h2.light {{item.title}}
            p {{item.inspiration}}

    //- class=dark overrides all color specs
      

    // 100% iphone, 50% ipad
    //- 
    //- Description 
    //- 
    div.event-detail
      div#description.content.row.responsive-sm
        div.col.col-offset-25.col-50

          div.row.text-left
            p {{item.description}}

          div.row.text-center
            // event: general attr
            div.col  
              dt category
              dd {{ item.category }}
            div.col
              dt cuisine
              dd {{ item.cusine }}
            div.col
              dt aspiration
              dd
                pl-star-ratings(value="item.aspiration" read-only="!vm.acl.isOwner()")
                //- ionic-ratings(ratingsobj="vm.ionicRating.aspirationRating")



      // ***
      // ACTIVE BLOCK
      // ***





      // ***
      // ACTIVE BLOCK
      // ***





      // 100% iphone, 50% ipad
      //- 
      //- Details
      //- alt: event details
      //- 
      div#details.content.row.responsive-sm
        div.col.col-offset-25.col-50
        
          //- div(style="position:absolute;right:0")
          //-   div.larger.pull-right.positive Details
          h2.text-center Details
          div.row.responsive-sm
            // event: host attr
            div.col
              div.list
                div.item(ng-class="item.host.face ? 'item-avatar' : 'item-icon-left'")
                  img(ng-src="{{item.host.face}}" ui-sref="app.profile({id:'{{item.host.id}}'})")
                  i.icon.ion-person(ng-show="!item.host.face")
                  {{ [item.host.firstname,item.host.lastname].join(' ')  || item.ownerId }}
                div.item.item-icon-left
                  i.icon.ion-ios-lightbulb
                  {{ item.inspiration }}
                div.item.item-icon-left 
                  i.icon.ion-ios-people
                  {{ item.seatsTotal }} seats / {{ item.seatsOpen }} open

            // event: when/where attr
            div.col
              div.list
                div.item.item-icon-left
                  i.icon.ion-ios-calendar-outline
                  {{ item.startTime | amCalendar }} 
                  span.dark ( {{item.summary.countdown}} )
                div.item.item-icon-left
                  i.icon.ion-ios-clock-outline
                  {{ item.duration | amDurationFormat:'milliseconds' }}
                div.item.item-icon-left
                  i.icon.ion-ios-location
                  //- feastly: Exact addr will be shared upon purchase
                  //- eatwith: exact location provided upon booking
                  {{vm.getLabel_Location(item)}}

      // 100% iphone, 50% ipad
      //- 
      //- Menu
      //- 
      div#menu.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.row
            div.col.text-center(ng-switch="vm.settings.view.menu")
              h2
                button.overlay-right.button.button-clear.icon.ion-more.positive(ng-click="vm.on.menuView('next')")
                span Menu
                
              div.list.menu-item.text-center(ng-switch-when="less")
                div.item(ng-repeat="mitem in item.menuItems") 
                  b.title {{ mitem.title  }} 
                  div.muted {{ mitem.category }}
                  
              div.list.menu-item(ng-switch-when="more")
                div.item.item-avatar(ng-repeat="mitem in item.menuItems") 
                  img(src="{{mitem.pic}}")
                  div.pull-right
                    span.muted {{ mitem.category }}
                    
                  b.title {{ mitem.title  }} 
                  div.detail {{ mitem.detail  }}
                  div.list.participation(ng-if="vm.acl.isParticipant()")
                    //- TODO: need to show committed vs suggested menu items to visitors
                    div.item.item-avatar.contribution(ng-repeat="contrib in mitem.contributions")
                      img(ng-src="{{contrib.contributor.face}}" ui-sref="app.profile({id:'{{contrib.contributor.id}}'})")
                      div.pull-right {{contrib.portions}} portions
                      b(ng-init="person = contrib.contributor") {{[person.firstname,person.lastname].join(' ') }}

              div.list.menu-item(ng-switch-when="contribute")
                div.item.item-avatar(ng-repeat="mitem in item.menuItems") 
                  img(src="{{mitem.pic}}")
                  div.muted.pull-right {{ mitem.category }}
                  b.title {{ mitem.title  }} 
                  div.detail {{ mitem.detail  }}
                  div.list.participation(ng-if="vm.acl.isParticipant()")
                    //- ???: should we hide participation from visitors
                    div.item.item-avatar.contribution(ng-repeat="contrib in mitem.contributions")
                      img(ng-src="{{contrib.contributor.face}}")
                      div.pull-right {{contrib.portions}} portions
                      b(ng-init="person = contrib.contributor") {{[person.firstname,person.lastname].join(' ') }}
                    div.item.btn-contribute(
                      ng-if="vm.acl.isParticipant() && !mitem.summary.isContributed" 
                    )
                      i.icon.ion-android-add-circle.balanced
                      p.label.dark Contribute
                      span.pull-right {{mitem.summary.portionsRemaining}} portions
                div.item.button-full(
                  ng-if="vm.acl.isParticipant() && item.setting.fixedMenu==false"
                )
                  div.button.button-balanced.icon.ion-android-add-circle.
                    Add Menu Item

      // 100% iphone, 50% ipad
      //- 
      //- Booking
      //- alt: Join Event, Actions, 
      //- 
      div(style="position:absolute;right:0")
      div.larger.pull-right.positive Actions
      div#cp-booking.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left
              div.list.booking
                div.item.button-full(ng-if="vm.acl.isVisitor()")
                  div.button.button-balanced.icon.ion-android-add-circle(
                    ng-click="vm.on.beginBooking(vm.me, vm.event)"
                  ).
                    Join Event

                div.item.text-center
                  div.button-bar
                    div.button.icon.xxx-icon-left.ion-thumbsup Like
                    div.button.icon.xxx-icon-left.ion-heart Favorite
                    div.button.icon.xxx-icon-left.ion-ios-upload Share



      // 100% iphone, 50% ipad
      //- 
      //- Participants
      //- alt: guests, 
      //- 
      div#participants.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.row
            div.col.text-center
              h2 Participants
              //- eatWith: Guest List, x of y seats booked, show face icon or empty faces
              //- 
              div.list.participants(ng-repeat="participation in item.participants")
                div.item.item-avatar.participation(ng-init="person = participation.user")
                  img(ng-src="{{person.face}}" ui-sref="app.profile({id:'{{person.id}}'})")
                  b {{[person.firstname,person.lastname].join(' ') }}
                  div.seats.pull-right(ng-if="participation.seats > 1") + {{participation.seats - 1}} other{{participation.seats>2 ? 's' : ''}}
                  div.comment.muted {{participation.comment}}
                  

      // 100% iphone, 50% ipad
      //- 
      //- MyParticipantion
      //- alt: booking, reservation, contribution
      //- 
      div#cp-participant.content.row.responsive-sm(ng-if="vm.acl.isParticipant()")
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left.rounded.item-divider
              h4.balanced My Participation
              div.list.my-participation
                h5.balanced Booking
                div.item.item-avatar.participation(ng-init="person = vm.me")
                  img(ng-src="{{person.face}}" ui-sref="app.profile({id:'{{person.id}}'})")
                  b {{[person.firstname,person.lastname].join(' ') }}
                  div.seats {{item.myParticipation.seats}} seat{{item.myParticipation.seats>1 ? 's' : ''}}
                  div.comment.muted {{item.myParticipation.comment}}
                h5.balanced Contribution
                div.item.item-avatar(ng-repeat="contrib in item.myParticipation.contributions")
                  img(src="{{contrib.menuItem.pic}}")
                  div.muted.pull-right {{ contrib.menuItem.category }}
                  b.title {{ contrib.menuItem.title  }} 
                  div
                    b.portions {{contrib.portions}} portions
                  div.detail.muted {{ contrib.menuItem.detail  }}
                div.item.item-text-wrap.button-full
                  p(ng-if="item.summary.myParticipation.isFullyParticipating==false"). 
                    You are contributing a total of {{item.summary.myParticipation.portions}} portions 
                    ( {{item.summary.myParticipation.portionsPct}}% )
                    based on your participation of {{item.myParticipation.seats}} seats. 
                  p(ng-if="item.summary.myParticipation.isFullyParticipating").
                    You are already contributing to this event, but feel free to sign-up for more if you like.
                  div.button.button-balanced.icon.ion-android-add-circle(
                    ng-click="vm.on.menuView('contribute')"
                  ).
                    Contribute





      // 100% iphone, 50% ipad
      //- 
      //- Quick Summary
      //- 
      div#quick-summary.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left
              div.list.card
                div.item.item-divider.item-royal.light
                  h3 Quick Summary
                div.item.item-icon-left.royal 
                  i.icon.ion-ios-calendar-outline
                  {{ item.summary.countdown }} 
                div.item.item-icon-left.royal 
                  i.icon.ion-ios-people
                  {{ item.summary.booking.parties }} Parties
                div.item.item-icon-left.royal 
                  i.icon.ion-fork
                  {{ item.summary.booking.seats }} Seats Booked ( {{item.summary.booking.seatsPct}}% )
                div.item.item-icon-left.royal 
                  i.icon.ion-help
                  {{item.seatsOpen}} Seats Available
                div(ng-hide="vm.acl.isVisitor()")
                  div.item.item-icon-left.royal 
                    i.icon.ion-person
                    {{item.summary.participation.contributors}} Contributors ({{item.summary.participation.contributorsPct}}%) 

                  div.item.item-icon-left.royal 
                    i.icon.ion-pizza
                    {{item.summary.participation.menuItemContributions}} Menu Contributions ({{item.summary.participation.menuItemContributionsPct}}%)
                    / {{item.summary.participation.portions}} Portions ({{item.summary.participation.portionsPct}}%)




      //- 
      //- Host Control Panel
      //- 
      div#cp-host.content.row.responsive-sm(ng-if="vm.acl.isOwner()")
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left.rounded.item-divider
              h4.royal Host Control Panel
              div.list.control-panel.light-bg
                ion-toggle(ng-model="item.isPublic" toggle-class="toggle-royal") Is Published
                ion-toggle(ng-model="item.setting.isExclusive" toggle-class="toggle-royal") Is Invitation Only
                ion-toggle(ng-model="item.setting.canForward" toggle-class="toggle-royal") Can Forward Invitations
                ion-toggle(ng-model="item.setting.hideAddress" toggle-class="toggle-royal") Address for Guests only
                ion-toggle(ng-model="item.setting.hasWaitList" toggle-class="toggle-royal") Can Join Waitlist
                ion-toggle(ng-model="item.setting.fixedMenu" toggle-class="toggle-royal") Fixed Menu
                div.item.item-radio-royal Feed Visibibility
                  ion-radio(ng-model="item.setting.feedVisibility" ng-value="'public'") Public
                  ion-radio(ng-model="item.setting.feedVisibility" ng-value="'participants'") Participants
                  ion-radio(ng-model="item.setting.feedVisibility" ng-value="'host'") Host




      //- 
      //- More/Other/Upcoming/Similar Meals
      //- 
      div.content.row.responsive-sm(ng-if="vm.acl.isVisitor()")
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left.rounded.item-divider
              h4 Other Upcoming Meals
              i.icon.ion-more




      











