// home/home.jade
ion-view(view-title="{{vm.title}}")
  ion-nav-back-button.button-clear
  // hide ion-navicon???
  ion-content.has-header.light-bg {{item=vm.event;""}}
    ion-refresher(pulling-text="Pull to refresh..." on-refresh="vm.on.refresh()")

    //- 
    //- Hero 
    //- 
    div.hero.has-mask(ng-style="vm.imgAsBg(item.heroPic)")
      div#hero-title.content.row.responsive-sm
        div.col.col-offset-25.col-50
          button.button.button-clear.flat.pull-right.text-white.waves-effect.waves-button.waves-light.icon.ion-heart
          div.text-left
            h2.light {{item.title}}
            p {{item.inspiration}}

    //- class=dark overrides all color specs
      

    // 100% iphone, 50% ipad
    //- 
    //- Description 
    //- 
    div.event-detail
      div#description.content.row.responsive-sm
        div.col.col-offset-25.col-50

          div.row.text-left
            p {{item.description}}

          div.row.text-center
            // event: general attr
            div.col  
              dt category
              dd {{ item.category }}
            div.col
              dt cuisine
              dd {{ item.cusine }}
            div.col
              dt aspiration
              dd
                pl-star-ratings(
                  value="item.aspiration" 
                  max-value="3" 
                  read-only="!vm.acl.isOwner()"
                  )
                //- ionic-ratings(ratingsobj="vm.ionicRating.aspirationRating")



      // ***
      // ACTIVE BLOCK
      // ***

      div.list.card(ng-if="0")
        div.item.button-full
          div.button.button-balanced.icon.ion-ios-upload(
            ng-click="vm.on.showShareLink(item)"
          ).
            &nbsp; Share
        div.item.button-full
          div.button.button-balanced.icon.ion-chatbox(
            ng-click="vm.on.beginResponse(vm.me, item)"
          )
            span.padding-left Respond





      // ***
      // ACTIVE BLOCK
      // ***





      // 100% iphone, 50% ipad
      //- 
      //- Details
      //- alt: event details
      //- 
      div#details.content.row.responsive-sm
        div.col.col-offset-25.col-50
        
          //- div(style="position:absolute;right:0")
          //-   div.larger.pull-right.positive Details
          h2.text-center Details
          div.row.responsive-sm.last-row
            // event: host attr
            div.col
              div.list {{host=vm.lookup['host'];''}}
                div.item(ng-class="host.face ? 'item-avatar' : 'item-icon-left'")
                  img(
                    ng-src="{{host.face}}" 
                    ng-click="vm.on.gotoState('app.profile','id',host)"
                  )
                  i.icon.ion-person(ng-show="!host.face")
                  div.wrap Hosted by #[b {{ [host.firstname,host.lastname].join(' ')  || item.ownerId }}]
                div.item.item-icon-left.item-text-wrap
                  i.icon.ion-ios-lightbulb
                  {{ item.inspiration }}
                div.item.item-icon-left.item-text-wrap
                  i.icon.ion-tshirt
                  {{ item.attire }}
                div.item.item-icon-left.wrap 
                  i.icon.ion-ios-people
                  {{ item.seatsTotal }} seats / #[span.nowrap {{ item.seatsOpen }} open]

            // event: when/where attr
            div.col
              div.list
                div.item.item-icon-left.item-text-wrap
                  i.icon.ion-ios-calendar-outline
                  {{ item.startTime | amDateFormat:'ddd, MMM Do' }} 
                  span.nowrap ( {{item.summary.countdown}} )
                div.item.item-icon-left.item-text-wrap
                  i.icon.ion-ios-clock-outline
                  span. 
                    at {{ item.startTime | amDateFormat:'h:mm a'}} for
                    {{ item.duration | amDurationFormat:'milliseconds' }}
                div.item.item-icon-left.item-text-wrap(
                  ng-click="vm.on.scrollTo('map')"
                )
                  i.icon.ion-ios-location
                  //- feastly: Exact addr will be shared upon purchase
                  //- eatwith: exact location provided upon booking
                  {{item['visibleAddress']}}

      // 100% iphone, 50% ipad
      //- 
      //- Menu
      //- 
      div#menu.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.row
            div.col.text-center(ng-switch="vm.settings.view.menu") 
              h2 {{nextMenu=vm.on.menuView('next','peek');''}}
                button.overlay-right.button.button-clear.icon.dark(
                  ng-click="vm.on.menuView('next')"
                  ng-class="{'ion-arrow-up-b':nextMenu=='less', 'ion-arrow-right-b':nextMenu=='contribute', 'ion-arrow-down-b':nextMenu=='more' }")
                span(
                  ng-click="vm.on.gotoState('app.menu-item','id', 'first')"
                  ) Menu
                
              div.list.menu-item.text-center(ng-switch-when="less") 
                div.item(ng-repeat="mid in item.menuItemIds") {{mitem=vm.lookup['MenuItems'][mid];''}}
                  b.title(
                    ng-click="vm.on.gotoState('app.menu-item','id',mitem)"
                    ) {{ mitem.title  }} 
                  div.muted {{ mitem.category }}
                  
              div.list.menu-item(ng-switch-when="more")
                div.item.item-avatar(ng-repeat="mid in item.menuItemIds") {{mitem=vm.lookup['MenuItems'][mid];''}}
                  img(
                    ng-src="{{mitem.pic}}"
                    ng-click="vm.on.gotoState('app.menu-item','id',mitem)"
                    )
                  div.pull-right
                    span.muted {{ mitem.category }}
                    
                  b.title {{ mitem.title  }} 
                  div.detail {{ mitem.detail  }}
                  div.list.participation
                    //- TODO: need to show committed vs suggested menu items to visitors
                    div.item.item-avatar.contribution(
                      ng-repeat="contrib in vm.getContributionsByMenuItem(item, mitem)"
                      ng-if="contrib.contributorId"
                    ) {{person=vm.lookup['Users'][contrib.contributorId];''}}
                      img(
                        ng-src="{{person.face}}" 
                        ng-click="vm.on.gotoState('app.profile','id',host)"
                        )
                      div.pull-right {{contrib.portions}} portions
                      b {{person.displayName || [person.firstname,person.lastname].join(' ') }}
                      p.muted {{contrib.comment}}

              div.list.menu-item(ng-switch-when="contribute")
                div.item.item-avatar(ng-repeat="mid in item.menuItemIds") {{mitem=vm.lookup['MenuItems'][mid];''}}
                  img(
                    ng-src="{{mitem.pic}}"
                    ng-click="vm.on.gotoState('app.menu-item','id',mitem)"
                    )
                  div.muted.pull-right {{ mitem.category }}
                  b.title {{ mitem.title  }} 
                  p.detail(ng-class="{'wrap':!mitem.summary.isContributed}"){{ mitem.detail  }}
                  div.list.participation(ng-if="vm.acl.debounced.isParticipant_YES()")
                    div.item.item-avatar.contribution(
                      ng-repeat="contrib in vm.getContributionsByMenuItem(item, mitem)"
                      ng-if="contrib.contributorId"
                    ) {{person=vm.lookup['Users'][contrib.contributorId];''}}
                      img(
                        ng-src="{{person.face}}")
                      div.pull-right {{contrib.portions}} portions
                      b {{person.displayName || [person.firstname,person.lastname].join(' ') }}
                      p.muted {{contrib.comment}}
                    div.item.btn-contribute(
                      ng-if="vm.acl.debounced.isParticipant_YES() && !mitem.summary.isContributed" 
                      ng-click="vm.on.beginContribute(mitem)"
                    )
                      i.icon.ion-android-add-circle.balanced
                      p.label.dark &nbsp; Contribute
                      span.pull-right {{mitem.summary.portionsRemaining}} portions
                
                div.card.list.condensed(
                  ng-if="vm.acl.debounced.isParticipant_YES()"
                  ng-hide="item.setting['denyAddMenu']"
                )
                  div.button-full
                    div.button.button-balanced.icon.ion-android-add-circle(
                      ng-click="vm.on.beginContribute()"
                      ).
                      &nbsp; Add New Menu Item
                  div.item.item-icon-left.balanced {{distr = item.summary.distribution;''}}
                    i.icon.ion-pie-graph
                    div.balanced(
                      ng-repeat="(cat,count) in distr.count"
                      ng-click="vm.on.beginContribute(null, cat)"
                      ) 
                      label.inline-field {{value = count + ' (' + distr.pct[cat] + '%)';''}}
                        span.label.balanced {{vm.getLabel_MenuItemCategory(cat)}}
                        input.balanced(type="text" ng-model="value" readonly)

      // 100% iphone, 50% ipad
      //- 
      //- Booking
      //- alt: Join Event, Actions, 
      //- 
      div#cp-booking.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.list(ng-show="vm.isInvitation() && vm.acl.isVisitor()")
            div.item.button-full
              div.button.button-balanced.icon.ion-chatbox(
                ng-click="vm.on.beginResponse(vm.me, item)"
              )
                span.padding-left Respond

          div.list.booking(
            ng-if="vm.acl.isVisitor()"
            ng-hide="vm.isInvitation()"
            )
            div.item.button-full
              div.button.button-balanced.icon.ion-android-add-circle(
                ng-click="vm.on.beginBooking(vm.me, item)"
              )
                span.padding-left Join Event
          

            div.item.text-center(ng-show="false")
              div.button-bar
                div.button.icon.icon-left.ion-thumbsup Like
                div.button.icon.icon-left.ion-heart Favorite
                div.button.icon.icon-left.ion-ios-upload Share



      // 100% iphone, 50% ipad
      //- 
      //- Participants
      //- alt: guests, 
      //- 
      div#participants.content.row.responsive-sm(ng-if="vm.acl.isOwner() || item.setting['denyParticipantList']==false")
        div.col.col-offset-25.col-50
          div.list.royal {{view = vm.settings.view;response = item.summary.response;''}}
            div.item.item-divider.item-royal.light.item-icon-right
              //- i.icon(ng-class="{'ion-checkmark-circled': view.response=='Yes','ion-help-circled': view.response=='Maybe','ion-close-circled': view.response=='No'}")
              button.button.button-clear.icon.ion-more.positive(
                ng-click="vm.on.participantView('next')"
                ng-show="vm.acl.isOwner() || item.setting['denyMaybeNoResponseList']==false"
                )
              div.larger Participants
              
            div(ng-repeat="particip in vm.getParticipationsByEvent(item, view.response)")
              {{ others = particip.seats==2 && '+1 other' || particip.seats>2 && '+' + (particip.seats - 1) + ' others' || '';'' }}
              div(ng-show='particip.participantId')
                div.item.participation.item-avatar {{person=vm.lookup['Users'][particip.participantId];''}}
                  img.muted(
                    ng-src="{{person.face}}" 
                    ng-click="vm.on.gotoState('app.profile','id', person)"
                    )
                  span.face-overlay(ng-if="!person.face" ng-bind="person.firstname[0]") 
                  b {{person.displayName }}
                  div.seats.pull-right(ng-bind="others")
                  div.comment.muted.wrap {{particip.comment}}
              div(ng-show='particip.responseId')
                div.item.participation.item-avatar
                  span.face-overlay(ng-click="vm.on.beginResponse(particip, item)")
                    i.icon.ion-person 
                  div.seats.pull-right(ng-bind="others")
                  b.padding-right {{particip.responseName }}
                  div.comment.muted.wrap {{particip.comment}}


            div.item.participation.empty-row(
              ng-show="response[view.response]==0"
              ) (none)

            div.button-bar(ng-show="vm.acl.isOwner() || item.setting['denyMaybeNoResponseList']==false")
              button.button.button-royal.icon.ion-checkmark-circled(
                ng-click="view.response='Yes'"
                ng-class="{active:view.response=='Yes'}")
                &nbsp;{{response.Yes}}

              button.button.button-royal.icon.ion-help-circled(
                ng-click="view.response='Maybe'"
                ng-class="{active:view.response=='Maybe'}")
                &nbsp;{{response.Maybe}}
              button.button.button-royal.icon.ion-close-circled(
                ng-click="view.response='No'"
                ng-class="{active:view.response=='No'}")
                &nbsp;{{response.No}}


          div.last-row
                  

      // 100% iphone, 50% ipad
      //- 
      //- MyParticipation
      //- alt: booking, reservation, contribution
      //- 
      div#cp-participant.content.row.responsive-sm(ng-if="particip=vm.lookup['MyParticipation']")
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left
              div.my-participation.list.card.condensed
                div.item.item-divider.item-balanced.light
                  div.larger My Participation
                h5.balanced.padding-horizontal Booking
                {{person = vm.me;''}}
                {{ others = particip.seats==2 && '+1 other' || particip.seats>2 && '+' + (particip.seats - 1) + ' others' || '';'' }}
                div(ng-show='particip.participantId')
                  div.item.participation.item-avatar {{person=vm.lookup['Users'][particip.participantId];''}}
                    img.muted(
                      ng-src="{{person.face}}" 
                      ng-click="vm.on.gotoState('app.profile','id', person)"
                      )
                    span.face-overlay.clear-bg
                      i.icon(ng-class="{'ion-checkmark balanced': particip.response=='Yes','ion-help energized': particip.response=='Maybe','ion-close assertive': particip.response=='No'}")
                    b {{person.displayName}} 
                      b(ng-if="particip.response != 'Yes'") ({{particip.response}}) 
                    div.seats.pull-right(ng-bind="others")
                    div.comment.muted.wrap {{particip.comment}}
                div(ng-show='particip.responseId')
                  div.item.participation.item-avatar
                    span.face-overlay
                      i.icon.ion-person.balanced 
                    div.seats.pull-right(ng-bind="others")
                    b.padding-right {{particip.responseName }}
                    div.comment.muted.wrap {{particip.comment}}  
                div.contributions(ng-if="vm.acl.debounced.isParticipant_YES()")
                  h5.balanced.padding-horizontal Contribution
                  {{ myContribs=vm.lookupByClass(item, 'Contributions', particip.contributionIds);''}}
                  div.item.item-avatar(ng-repeat="contrib in myContribs")
                    {{contrib.menuItem=vm.lookup['MenuItems'][contrib.menuItemId];''}}
                    img(
                      ng-src="{{contrib.menuItem.pic}}"
                      ng-click="vm.on.gotoState('app.menu-item','id',mitem)"
                      )
                    div
                      div.muted.pull-right {{ contrib.menuItem.category }}
                      b.title.wrap {{ contrib.menuItem.title  }} 
                        span.portions.nowrap {{contrib.portions}} portions
                    div
                      p.detail.muted {{ contrib.menuItem.detail  }}
                  div.item.item-text-wrap
                    p(ng-if="item.summary.myParticipation.isFullyParticipating==false"). 
                      You are contributing a total of {{item.summary.myParticipation.portions}} portions 
                      #[span.nowrap ( {{item.summary.myParticipation.portionsPct }}% )]
                      based on your participation of {{particip.seats}} seats. 
                    p(ng-if="item.summary.myParticipation.isFullyParticipating").
                      You are already contributing to this event, but feel free to sign-up for more if you like.
                  div.item.button-full
                    div.button.button-balanced.icon.ion-android-add-circle(
                      ng-click="vm.on.menuView('contribute')"
                    ).
                      &nbsp; Contribute

                h5.balanced.padding-horizontal Actions
                div.item
                  div.button-bar
                    button.button.button-positive.icon.ion-ios-upload(
                      ng-click="vm.on.showShareLink(item)"
                    )
                      &nbsp; Share
                    button.button.button-positive.icon.ion-edit(
                      ng-click="vm.on.beginResponse(vm.me, item)"
                    )
                      &nbsp; Edit






      // 100% iphone, 50% ipad
      //- 
      //- Quick Summary
      //- 
      div#quick-summary.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left.royal
              div.list.card.condensed
                div.item.item-divider.item-royal.light
                  div.larger Quick Summary
                div.item.item-icon-left.royal 
                  i.icon.ion-ios-calendar-outline
                  {{ item.summary.countdown }} 
                div.item.item-icon-left.royal 
                  i.icon.ion-ios-people
                  {{ item.summary.booking.parties }} Parties
                div.item.item-icon-left.royal 
                  i.icon.ion-fork
                  div.royal {{ item.summary.booking.seats }} Seats Booked ( {{item.summary.booking.seatsPct}}% )
                  div.royal {{item.seatsOpen}} Seats Available
                div(ng-hide="vm.acl.isVisitor()")
                  div.item.item-icon-left.royal 
                    i.icon.ion-person
                    {{item.summary.participation.contributors}} Contributors ({{item.summary.participation.contributorsPct}}%) 

                  div.item.item-icon-left.royal 
                    i.icon.ion-pizza
                    div.royal {{item.summary.participation.menuItemContributions}} Menu Contributions ({{item.summary.participation.menuItemContributionsPct}}%)
                    div.royal {{item.summary.participation.portions}} Portions ({{item.summary.participation.portionsPct}}%)

                  div.item.item-icon-left.royal(
                    ng-show="distr.total"
                    ) {{distr = item.summary.distribution;''}}
                    i.icon.ion-pie-graph
                    div.royal(ng-repeat="(cat,count) in distr.count") 
                      label.inline-field {{value = count + ' (' + distr.pct[cat] + '%)';''}}
                        span.label.royal {{vm.getLabel_MenuItemCategory(cat)}}
                        input.royal(type="text" ng-model="value" readonly)



      //- 
      //- Map
      //- 
      div.content.last-row
        div#map
          div.wrap(ng-if="item.map")
            {{opt = item.map.options;''}}
            ui-gmap-google-map( 
              center='item.map.center' 
              zoom='item.map.zoom'
              options='opt.map.options'
            )
              ui-gmap-circle(
                ng-if="item.visibleLocation"
                center="opt.circle.center"
                radius="opt.circle.radius"
                stroke="opt.circle.stroke"
                )
              ui-gmap-marker(
                ng-if="item.visibleMarker"
                idKey="opt.marker.idKey"
                coords="opt.marker.coords"
                )



      //- 
      //- Host Control Panel
      //- 
      div#cp-host.content.row.responsive-sm(ng-if="vm.acl.isOwner()")
        div.col.col-offset-25.col-50
          pl-event-settings(
            event="item"
            on-change="vm.on.updateSettings(eventSetting, eventIsPublic)"
            type="Potluck"
            )




      div#admin-change-user.content.row.responsive-sm(ng-if="vm.isDev()")
        div.col.col-offset-25.col-50
          div.row(ng-hide="dev.settings.show=='admin'")
            div.col
              div.padding.text-center
                button.button.button-assertive.icon.ion-gear-b(
                ng-click="dev.on.selectUser()"
                )
                  span.padding-left Change User ({{vm.me.displayName}})
          div.row(ng-show="dev.settings.show=='admin'")
            div.col
              div.list.card.condensed
                div.item.item-assertive.item-icon-right
                  h2.title.light Select User for Testing
                  i.light.icon.ion-close(ng-click="dev.settings.show='less'")
                a.item.item-avatar(
                  ng-repeat="person in vm.people"
                  ng-click="dev.on.loginUser(person)"
                )
                  img(ng-src="{{person.face}}")
                  span.face-overlay(ng-if="!person.face" ng-bind="person.firstname[0]") 
                  b {{person.displayName || [person.firstname,person.lastname].join(' ') }}
                  p role: {{dev.on.getRoleLabel(person)}}


      //- 
      //- More/Other/Upcoming/Similar Meals
      //- 
      div.content.row.responsive-sm(
        ng-if="vm.acl.isVisitor()"
        ng-hide="true"
      )
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left.rounded.item-divider
              h4 Other Upcoming Meals
              i.icon.ion-more





      











