// home/home.jade
ion-view(view-title="{{vm.title}}")
  ion-nav-back-button.button-clear
  // hide ion-navicon???
  ion-content.has-header.light-bg {{item=vm.event;""}}
    ion-refresher(pulling-text="Pull to refresh..." on-refresh="vm.on.refresh()")

    //- 
    //- Hero 
    //- 
    div.hero.has-mask(ng-style="vm.imgAsBg(item.heroPic)")
      div#hero-title.content.row.responsive-sm
        div.col.col-offset-25.col-50
          button.button.button-clear.flat.pull-right.text-white.waves-effect.waves-button.waves-light.icon.ion-heart
          div.text-left
            h2.light {{item.title}}
            p {{item.inspiration}}

    //- class=dark overrides all color specs
      

    // 100% iphone, 50% ipad
    //- 
    //- Description 
    //- 
    div.event-detail
      div#description.content.row.responsive-sm
        div.col.col-offset-25.col-50

          div.row.text-left
            p {{item.description}}

          div.row.text-center
            // event: general attr
            div.col  
              dt category
              dd {{ item.category }}
            div.col
              dt cuisine
              dd {{ item.cusine }}
            div.col
              dt aspiration
              dd
                pl-star-ratings(value="item.aspiration" max-value="3" read-only="!vm.acl.isOwner()")
                //- ionic-ratings(ratingsobj="vm.ionicRating.aspirationRating")



      // ***
      // ACTIVE BLOCK
      // ***

      div.list.card(ng-if="0")
        div.item.button-full
          div.button.button-balanced.icon.ion-ios-upload(
            ng-click="vm.on.showShareLink(item)"
          ).
            &nbsp; Share
        div.item.button-full
          div.button.button-balanced.icon.ion-chatbox(
            ng-click="vm.on.beginResponse(vm.me, item)"
          )
            span.padding-left Respond





      // ***
      // ACTIVE BLOCK
      // ***





      // 100% iphone, 50% ipad
      //- 
      //- Details
      //- alt: event details
      //- 
      div#details.content.row.responsive-sm
        div.col.col-offset-25.col-50
        
          //- div(style="position:absolute;right:0")
          //-   div.larger.pull-right.positive Details
          h2.text-center Details
          div.row.responsive-sm.last-row
            // event: host attr
            div.col
              div.list {{host=vm.lookup['host'];''}}
                div.item(ng-class="host.face ? 'item-avatar' : 'item-icon-left'")
                  img(
                    ng-src="{{host.face}}" 
                    ng-click="vm.on.gotoState('app.profile','id',host)"
                  )
                  i.icon.ion-person(ng-show="!host.face")
                  div.wrap Hosted by #[b {{ [host.firstname,host.lastname].join(' ')  || item.ownerId }}]
                div.item.item-icon-left.item-text-wrap
                  i.icon.ion-ios-lightbulb
                  {{ item.inspiration }}
                div.item.item-icon-left.item-text-wrap
                  i.icon.ion-tshirt
                  {{ item.attire }}
                div.item.item-icon-left.wrap 
                  i.icon.ion-ios-people
                  {{ item.seatsTotal }} seats / #[span.nowrap {{ item.seatsOpen }} open]

            // event: when/where attr
            div.col
              div.list
                div.item.item-icon-left.item-text-wrap
                  i.icon.ion-ios-calendar-outline
                  {{ item.startTime | amDateFormat:'ddd, MMM Do' }} 
                  span.nowrap ( {{item.summary.countdown}} )
                div.item.item-icon-left.item-text-wrap
                  i.icon.ion-ios-clock-outline
                  span. 
                    at {{ item.startTime | amDateFormat:'h:mm a'}} for
                    {{ item.duration | amDurationFormat:'milliseconds' }}
                div.item.item-icon-left.item-text-wrap(
                  ng-click="vm.on.scrollTo('map')"
                )
                  i.icon.ion-ios-location
                  //- feastly: Exact addr will be shared upon purchase
                  //- eatwith: exact location provided upon booking
                  {{item['visibleAddress']}}

      // 100% iphone, 50% ipad
      //- 
      //- Menu
      //- 
      div#menu.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.row
            div.col.text-center(ng-switch="vm.settings.view.menu") 
              h2 {{nextMenu=vm.on.menuView('next','peek');''}}
                button.overlay-right.button.button-clear.icon.dark(
                  ng-click="vm.on.menuView('next')"
                  ng-class="{'ion-arrow-up-b':nextMenu=='less', 'ion-arrow-right-b':nextMenu=='contribute', 'ion-arrow-down-b':nextMenu=='more' }")
                span Menu
                
              div.list.menu-item.text-center(ng-switch-when="less") 
                div.item(ng-repeat="mid in item.menuItemIds") {{mitem=vm.lookup['MenuItems'][mid];''}}
                  b.title(
                    ng-click="vm.on.gotoState('app.menu-item','id',mitem)"
                    ) {{ mitem.title  }} 
                  div.muted {{ mitem.category }}
                  
              div.list.menu-item(ng-switch-when="more")
                div.item.item-avatar(ng-repeat="mid in item.menuItemIds") {{mitem=vm.lookup['MenuItems'][mid];''}}
                  img(
                    ng-src="{{mitem.pic}}"
                    ng-click="vm.on.gotoState('app.menu-item','id', mitem)"
                    )
                  div.pull-right
                    span.muted {{ mitem.category }}
                    
                  b.title {{ mitem.title  }} 
                  div.detail {{ mitem.detail  }}
                  div.list.participation(ng-if="true || vm.acl.isParticipant()")
                    //- TODO: need to show committed vs suggested menu items to visitors
                    div.item.item-avatar.contribution(
                      ng-repeat="contrib in vm.getContributionsByMenuItem(mitem)"
                      ng-if="contrib.contributorId"
                    ) {{person=vm.lookup['Users'][contrib.contributorId];''}}
                      img(
                        ng-src="{{person.face}}" 
                        ng-click="vm.on.gotoState('app.profile','id',host)"
                        )
                      div.pull-right {{contrib.portions}} portions
                      b {{person.displayName || [person.firstname,person.lastname].join(' ') }}
                      p.muted {{contrib.comment}}

              div.list.menu-item(ng-switch-when="contribute")
                div.item.item-avatar(ng-repeat="mid in item.menuItemIds") {{mitem=vm.lookup['MenuItems'][mid];''}}
                  img(
                    ng-src="{{mitem.pic}}"
                    ng-click="vm.on.gotoState('app.menu-item','id',mitem)"
                    )
                  div.muted.pull-right {{ mitem.category }}
                  b.title {{ mitem.title  }} 
                  p.detail(ng-class="{'wrap':!mitem.summary.isContributed}"){{ mitem.detail  }}
                  div.list.participation(ng-if="vm.acl.isParticipant()")
                    div.item.item-avatar.contribution(
                      ng-repeat="contrib in vm.getContributionsByMenuItem(mitem)"
                      ng-if="contrib.contributorId"
                    ) {{person=vm.lookup['Users'][contrib.contributorId];''}}
                      img(
                        ng-src="{{person.face}}")
                      div.pull-right {{contrib.portions}} portions
                      b {{person.displayName || [person.firstname,person.lastname].join(' ') }}
                      p.muted {{contrib.comment}}
                    div.item.btn-contribute(
                      ng-if="vm.acl.isParticipant() && !mitem.summary.isContributed" 
                      ng-click="vm.on.beginContribute(mitem)"
                    )
                      i.icon.ion-android-add-circle.balanced
                      p.label.dark Contribute
                      span.pull-right {{mitem.summary.portionsRemaining}} portions
                
                div.card.list.condensed(
                  ng-if="vm.acl.isParticipant() && item.setting.denyAddMenu==false"
                )
                  div.item.button-full
                    div.button.button-balanced.icon.ion-android-add-circle(
                      ng-click="vm.on.beginContribute()"
                      ).
                      Add Menu Item
                  div.item.item-icon-left.balanced {{distr = item.summary.distribution;''}}
                    i.icon.ion-pie-graph
                    div.balanced(ng-repeat="(cat,count) in distr.count") 
                      label.inline-field {{value = count + ' (' + distr.pct[cat] + '%)';''}}
                        span.label.balanced {{vm.getLabel_MenuItemCategory(cat)}}
                        input.balanced(type="text" ng-model="value" readonly)

      // 100% iphone, 50% ipad
      //- 
      //- Booking
      //- alt: Join Event, Actions, 
      //- 
      div#cp-booking.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.list(ng-show="vm.isInvitation()")
            div.item.button-full
              div.button.button-balanced.icon.ion-chatbox(
                ng-click="vm.on.beginResponse(vm.me, item)"
              )
                span.padding-left Respond

          div.list.booking(
            ng-if="vm.acl.isVisitor()"
            ng-hide="vm.isInvitation()"
            )
            div.item.button-full
              div.button.button-balanced.icon.ion-android-add-circle(
                ng-click="vm.on.beginBooking(vm.me, item)"
              )
                span.padding-left Join Event
          

            div.item.text-center(ng-show="false")
              div.button-bar
                div.button.icon.xxx-icon-left.ion-thumbsup Like
                div.button.icon.xxx-icon-left.ion-heart Favorite
                div.button.icon.xxx-icon-left.ion-ios-upload Share



      // 100% iphone, 50% ipad
      //- 
      //- Participants
      //- alt: guests, 
      //- 
      div#participants.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.row.last-row
            div.col.text-center
              h2 Participants
              //- eatWith: Guest List, x of y seats booked, show face icon or empty faces
              //- 
              div.list.condensed.participants
                div(ng-repeat="particip in vm.getParticipationsByEvent(item)")
                  div.item.item-avatar.participation {{person=vm.lookup['Users'][particip.participantId];''}}
                    img.muted(
                      ng-src="{{person.face}}" 
                      ng-click="vm.on.gotoState('app.profile','id',host)"
                      )
                    span.face-overlay(ng-if="!person.face" ng-bind="person.firstname[0]") 
                    b {{person.displayName || [person.firstname,person.lastname].join(' ') }}
                    div.seats.pull-right(ng-if="particip.seats > 1") + {{particip.seats - 1}} other{{particip.seats>2 ? 's' : ''}}
                    div.comment.muted {{particip.comment}}
                  

      // 100% iphone, 50% ipad
      //- 
      //- MyParticipation
      //- alt: booking, reservation, contribution
      //- 
      div#cp-participant.content.row.responsive-sm(ng-if="vm.acl.isParticipant()")
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left
              div.my-participation.list.card.condensed {{myPart=vm.lookup['MyParticipation'];''}}
                div.item.item-divider.item-balanced.light
                  div.larger My Participation
                h5.balanced.padding-horizontal Booking
                {{person = vm.me;''}}
                div.item.item-avatar.participation 
                  img(
                    ng-src="{{person.face}}" 
                    ng-click="vm.on.gotoState('app.profile','id',host)"
                    )
                  span.face-overlay(ng-if="!person.face" ng-bind="person.firstname[0]") 
                  div
                    b.name {{ person.displayName }}
                    &nbsp;
                    b.seats ({{myPart.seats}} seat{{myPart.seats>1 ? 's' : ''}})
                  div.comment.muted {{myPart.comment}}

                h5.balanced.padding-horizontal Contribution 
                {{ myContribs=vm.lookupByClass(item, 'Contributions', myPart.contributionIds);''}}
                div.item.item-avatar(ng-repeat="contrib in myContribs")
                  {{contrib.menuItem=vm.lookup['MenuItems'][contrib.menuItemId];''}}
                  img(
                    ng-src="{{contrib.menuItem.pic}}"
                    ng-click="vm.on.gotoState('app.menu-item','id',mitem)"
                    )
                  div
                    div.muted.pull-right {{ contrib.menuItem.category }}
                    b.title.wrap {{ contrib.menuItem.title  }} 
                      span.portions.nowrap {{contrib.portions}} portions
                  div
                    p.detail.muted {{ contrib.menuItem.detail  }}
                div.item.item-text-wrap
                  p(ng-if="item.summary.myParticipation.isFullyParticipating==false"). 
                    You are contributing a total of {{item.summary.myParticipation.portions}} portions 
                    #[span.nowrap ( {{item.summary.myParticipation.portionsPct }}% )]
                    based on your participation of {{myPart.seats}} seats. 
                  p(ng-if="item.summary.myParticipation.isFullyParticipating").
                    You are already contributing to this event, but feel free to sign-up for more if you like.
                div.item.button-full
                  div.button.button-balanced.icon.ion-android-add-circle(
                    ng-click="vm.on.menuView('contribute')"
                  ).
                    &nbsp; Contribute
                h5.balanced.padding-horizontal Share
                div.item.button-full
                  div.button.button-balanced.icon.ion-ios-upload(
                    ng-click="vm.on.showShareLink(item)"
                  ).
                    &nbsp; Share






      // 100% iphone, 50% ipad
      //- 
      //- Quick Summary
      //- 
      div#quick-summary.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left.royal
              div.list.card.condensed
                div.item.item-divider.item-royal.light
                  div.larger Quick Summary
                div.item.item-icon-left.royal 
                  i.icon.ion-ios-calendar-outline
                  {{ item.summary.countdown }} 
                div.item.item-icon-left.royal 
                  i.icon.ion-ios-people
                  {{ item.summary.booking.parties }} Parties
                div.item.item-icon-left.royal 
                  i.icon.ion-fork
                  div.royal {{ item.summary.booking.seats }} Seats Booked ( {{item.summary.booking.seatsPct}}% )
                  div.royal {{item.seatsOpen}} Seats Available
                div(ng-hide="vm.acl.isVisitor()")
                  div.item.item-icon-left.royal 
                    i.icon.ion-person
                    {{item.summary.participation.contributors}} Contributors ({{item.summary.participation.contributorsPct}}%) 

                  div.item.item-icon-left.royal 
                    i.icon.ion-pizza
                    div.royal {{item.summary.participation.menuItemContributions}} Menu Contributions ({{item.summary.participation.menuItemContributionsPct}}%)
                    div.royal {{item.summary.participation.portions}} Portions ({{item.summary.participation.portionsPct}}%)

                  div.item.item-icon-left.royal {{distr = item.summary.distribution;''}}
                    i.icon.ion-pie-graph
                    div.royal(ng-repeat="(cat,count) in distr.count") 
                      label.inline-field {{value = count + ' (' + distr.pct[cat] + '%)';''}}
                        span.label.royal {{vm.getLabel_MenuItemCategory(cat)}}
                        input.royal(type="text" ng-model="value" readonly)



      //- 
      //- Map
      //- 
      div.content.last-row
        div#map(ng-if="item.map")
          {{opt = item.map.options;''}}
          ui-gmap-google-map( 
            center='item.map.center' 
            zoom='item.map.zoom'
            options='opt.map.options'
          )
            ui-gmap-circle(
              ng-if="vm.acl.isVisitor()"
              center="opt.circle.center"
              radius="opt.circle.radius"
              stroke="opt.circle.stroke"
              )
            ui-gmap-marker(
              ng-if="vm.acl.isParticipant()"
              idKey="opt.marker.idKey"
              coords="opt.marker.coords"
              )



      //- 
      //- Host Control Panel
      //- 
      div#cp-host.content.row.responsive-sm(ng-if="vm.acl.isOwner()")
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left
              div.list.condensed.card.control-panel
                div.item.item-divider.item-dark.light
                  div.larger Host Control Panel
                ion-toggle(ng-model="item.isPublic" toggle-class="toggle-balanced") Is Published
                ion-toggle(ng-model="item.setting.isExclusive" toggle-class="toggle-balanced") Is Invitation Only
                ion-toggle(ng-model="item.setting.canForward" toggle-class="toggle-balanced") Can Forward Invitations
                ion-toggle(ng-model="item.setting.hideAddress" toggle-class="toggle-balanced") Address for Guests only
                ion-toggle(ng-model="item.setting.hasWaitList" toggle-class="toggle-balanced") Can Join Waitlist
                ion-toggle(ng-model="item.setting.fixedMenu" toggle-class="toggle-balanced") Fixed Menu
                div.item Feed Visibibility
                  ion-radio(ng-model="item.setting.feedVisibility" ng-value="'public'") Public
                  ion-radio(ng-model="item.setting.feedVisibility" ng-value="'participants'") Participants
                  ion-radio(ng-model="item.setting.feedVisibility" ng-value="'host'") Host



      div#admin-change-user.content.row.responsive-sm
        div.col.col-offset-25.col-50
          div.row(ng-hide="dev.settings.show=='admin'")
            div.col
              div.padding.text-center
                button.button.button-assertive.icon.ion-gear-b(
                ng-click="dev.on.selectUser()"
                )
                  span.padding-left Change User ({{vm.me.displayName}})
          div.row(ng-show="dev.settings.show=='admin'")
            div.col
              div.list.card.condensed
                div.item.item-assertive.item-icon-right
                  h2.title.light Select User for Testing
                  i.light.icon.ion-close(ng-click="dev.settings.show='less'")
                a.item.item-avatar(
                  ng-repeat="person in vm.people"
                  ng-click="dev.on.loginUser(person)"
                )
                  img(ng-src="{{person.face}}")
                  span.face-overlay(ng-if="!person.face" ng-bind="person.firstname[0]") 
                  b {{person.displayName || [person.firstname,person.lastname].join(' ') }}
                  p role: {{dev.on.getRoleLabel(person)}}


      //- 
      //- More/Other/Upcoming/Similar Meals
      //- 
      div.content.row.responsive-sm(
        ng-if="vm.acl.isVisitor()"
        ng-hide="true"
      )
        div.col.col-offset-25.col-50
          div.row
            div.col.text-left.rounded.item-divider
              h4 Other Upcoming Meals
              i.icon.ion-more





      











