// people/profile.jade
ion-view(view-title="{{vm.title}}") {{person=vm.person;view=vm.settings.view;''}}
  ion-content#profile.has-header.light-bg
    div.hero-a
      div.content
        div.hero-wrap.has-mask-reverse
          div.hero-bg.blur(ng-style="vm.imgAsBg(person.face)")
        div.hero-toolbar.padding
          i.padding-left.icon.ion-heart.dark
          i.padding-left.icon.ion-ios-upload.dark
        div.text-center.padding
          h2.light.text-center {{person.displayName}}
          img.face(
            ng-style="vm.imgAsBg(person.face)"
            )

    div#description.content.row.responsive-sm(ng-if="view.show=='signin'")
      div.col.col-offset-25.col-50
        div.text-center.padding
          h3 Take off your coat #[span.nowrap and stay awhile...]
        div.text-center.padding
          button.button.button-positive(
            ng-click="vm.on.showSignInRegister('signin')"
            ) Sign in

    div#profile.content.row.responsive-sm(ng-if="view.show=='profile'")
      div.col.col-offset-25.col-50
          div.list.condensed
            label.item.inline-field {{ fullname=[person.firstname, person.lastname].join(' ') + ' (' + person.username + ')';'' }}
              span.label
                i.icon.ion-person.padding-horizontal.larger
              input.capitalize(type="text" ng-model="fullname" readonly)
            label.item.inline-field
              span.label
                i.icon.ion-email.padding-horizontal.larger
              input(type="text" ng-model="person.email" readonly)  
            label.item.inline-field
              span.label
                i.icon.ion-quote.padding-horizontal.larger
              input(type="text" ng-model="person.about" readonly)

          div.list.condensed.royal
            div.item.item-divider.item-royal.light.item-icon-right
              div.larger My Events
            h4.royal.padding-horizontal Hosting
            div(
              ng-repeat="item in vm.lookup['Hosting']"
              )  {{ particip = vm.lookup['ParticipationsByEventId'][item.id];''}}
              div.item.item-text-wrap(
                ui-sref="app.event-detail({id: {{item.id}}  })"
                ng-class="{dark:item.isComplete}"
                )
                b {{item.title}}
                ,  {{ item.calendar }} 
                span(ng-if="item.isComplete") (done)

            h4.royal.padding-horizontal Participating
            div(
              ng-repeat="item in vm.lookup['Participating']"
              ) {{ particip = vm.lookup['ParticipationsByEventId'][item.id];''}}
              div.item.item-text-wrap(
                ui-sref="app.event-detail({id: {{item.id}}  })"
                ) 
                #[b {{item.title}}],  {{ item.calendar }} , {{particip.response}}, {{particip.seats}} people

          div.list
            div.item.button-bar
              button.button.button-assertive.icon.ion-edit(
                ng-click="view.show='account'"
                )
                &nbsp; Edit
              button.button.button-assertive.icon.ion-close-circled(
                ng-click="vm.on.signOut()"
                )
                &nbsp; Sign out 

    div#description.content.row.responsive-sm(ng-if="view.show=='account'")
      div.col.col-offset-25.col-50
        form(name="updateProfile" novalidate="" ng-submit="vm.on.updateProfile(person, changePass);")
          div.list
            label.item.item-input
              i.icon.ion-person.padding-horizontal.larger
              input(type="text" name="Username" placeholder="Username" ng-model="person.username")
            label.item.item-input
              i.icon.ion-email.padding-horizontal.larger
              input(type="text" name="Email" placeholder="Email" ng-model="person.email")    

            div.change-password
              div.item(
                ng-hide="vm.settings.changePassword"
                )
                div.text-center
                  button.button.button-positive.button-small(
                    ng-click="vm.settings.changePassword = true"
                  ) Change Password
              div(
                ng-show="vm.settings.changePassword"
                ) {{ changePass = {};'' }}  
                label.item.item-input
                  i.icon.ion-locked.padding-horizontal.larger
                  input(type="password" name="Password" placeholder="Current Password" ng-model="changePass.old")
                label.item.item-input
                  i.icon.ion-locked.padding-horizontal.larger
                  input(type="password" name="Password" placeholder="New Password" ng-model="changePass.new")
                label.item.item-input
                  i.icon.ion-locked.padding-horizontal.larger
                  input(type="password" name="Password" placeholder="Password (Again)" ng-model="changePass.again")  
            
            label.item.item-input
              span.input-label First Name
              input(type="text" name="First" placeholder="First" ng-model="person.firstname")
            label.item.item-input
              span.input-label Last Name
              input(type="text" name="Last" placeholder="Last" ng-model="person.lastname")
            label.item.item-input
              span.input-label Face
              input(type="text" name="Last" placeholder="http://..." ng-model="person.face")
            label.item.item-input.item-stacked-label.padding-right
              span.input-label About Me
              textarea(ng-model="person.about" placeholder="Tell us about yourself..." maxlength="1024")
            div.item
              div.button-bar
                button.button.button-positive.button-outline(
                  ng-click="vm.on.resetForm()"
                  ) &nbsp; Cancel
                button.button.button-positive(
                  type="submit"
                  ng-class="{disabled:vm.settings.editing==false}"
                  ) &nbsp; Update

        

    div#admin-change-user.content.row.responsive-sm(ng-if="vm.isDev()")
      div.col.col-offset-25.col-50
        div.row(ng-hide="dev.settings.show=='admin'")
          div.col
            div.padding.text-center
              button.button.button-assertive.icon.ion-gear-b(
                ng-click="dev.on.selectUser()"
                )
                span.padding-left Change User
        div.row(ng-show="dev.settings.show=='admin'")
          div.col
            div.list.card.condensed
              div.item.item-assertive.item-icon-right
                h2.title.light Select User for Testing
                i.light.icon.ion-close(ng-click="dev.settings.show='less'")
              a.item.item-avatar(
                ng-repeat="person in vm.people"
                ng-click="dev.on.loginUser(person)"
              )
                img(ng-src="{{person.face}}")
                b {{person.displayName || [person.firstname,person.lastname].join(' ') }}
                p id = {{person.id}}






