//- people/sign-up.modal.html
ion-modal-view#sign-in-sign-up {{slideCtrl.setSlide();''}}
  ion-slide-box(
    delegate-handle="sign-in-sign-up"
    active-slide="slideCtrl.index"
    auto-play="false"
    show-pager="false"
    slide-interval=""
    pager-click=""
    on-slide-changed=""
    )
    ion-slide.sign-up
      ion-scroll
        div.list
          div.item
            button.button.button-block.button-positive.light.icon.ion-social-facebook(
              ng-click="vm.on.notReady('Facebook Connect')"
              ) &nbsp; Sign-up with Facebook
          div.item
            div.text-center.muted.larger &mdash; or &mdash;
          div.padding-horizontal
            form(name="registerForm" novalidate="" ng-submit="vm.on.register(person, closeModal)")
              label.item.item-input
                i.icon.ion-person.padding-horizontal.larger
                input(type="text" name="Username" placeholder="Username" ng-model="person.username" required)
              label.item.item-input
                i.icon.ion-email.padding-horizontal.larger
                input(type="text" name="Email" placeholder="Email" ng-model="person.email" required)
              label.item.item-input
                i.icon.ion-locked.padding-horizontal.larger
                input(type="password" name="Password" placeholder="Password" ng-model="person.password" required)
              label.item.item-input.hide
                i.icon.ion-locked.padding-horizontal.larger
                input(type="password" name="PasswordRepeat" placeholder="Again" ng-model="person.passwordRepeat")
              div.item
                div.button-bar
                  button.button.button-balanced.button-outline(ng-click="closeModal('CANCELED')") Cancel
                  button.button.button-balanced(type="submit") Sign up
              div.item.positive
                div.text-right 
                  a(ng-click="slideCtrl.setSlide('signin')"). 
                    Have an account? Sign in #[i.icon.ion-android-arrow-forward.padding-right]
    ion-slide.sign-in
      ion-scroll
        div.list
          div.item
            button.button.button-block.button-positive.light.icon.ion-social-facebook(
              ng-click="vm.on.notReady('Facebook Connect')"
              ) &nbsp; Sign-in with Facebook
          div.item
            div.text-center.larger &mdash; or &mdash;
          div.padding-horizontal
            form(name="signInForm" novalidate="" ng-submit="vm.on.signIn(person, closeModal);")
              label.item.item-input
                i.icon.ion-person.padding-horizontal.larger
                input(type="text" name="Username" placeholder="Username" ng-model="person.username" required)
              label.item.item-input
                i.icon.ion-locked.padding-horizontal.larger
                input(type="password" name="Password" placeholder="Password" ng-model="person.password" required)
              div.item
                div.button-bar
                  button.button.button-balanced.button-outline(ng-click="closeModal('CANCELED')") Cancel
                  button.button.button-balanced(type="submit") Sign in
              div.item.positive.text-left
                div.pull-right
                  a(ng-click="vm.on.notReady('password recovery')") Forgot Password?
                a(ng-click="slideCtrl.setSlide('signup')").
                  #[i.icon.ion-android-arrow-back.padding-left] Sign up

